* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  position: relative;
  display: inline;
}

/*This section refers to the header which has multiple fonts, colours and also contains the pages navigation links*/

.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #ffffff;
  background-image: url("../images/oleg-laptev-7jQh3EiS8Bs-unsplash.jpg");
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  color: #2d3669;
}

.header nav {
  padding-top: 23px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.navcontainer {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  color: #9b968e;
  text-decoration: none;
}

a {
  color: #9b968e;
  text-decoration: none;
}

/* Main Section re about me and contact me*/
.content {
  height: 100vh;
  padding-top: 5rem;
  display: flexbox;
}

.aboutme {
  margin-bottom: 1rem;
  height: 20rem;
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #c7912c;
  display: flex;
}

.aside {
  height: 100vh;
  padding: 15px;
  float: left;
  width: 15vw;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  color: rgb(10, 40, 83);
}

.myimage {
  height: 15vh;
  width: 10vw;
  border-radius: 50%;
}

.hiya {
  font-size: 8vw;

  font-family: monospace;
  padding: 1rem;
}

.beekay {
  font-size: 2vw;
  margin-right: 6rem;
  margin-left: 6rem;
  font-family: monospace;
  margin-bottom: 2rem;
}

.paboutme {
  font-size: 1.25vw;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-family: monospace;
  padding: 2rem;
}

.contactme {
  font-size: 1.5vw;
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
  padding: 3rem;
  font-family: monospace;
  color: #c7912c;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects-title {
  padding: 1rem;
  text-align: center;
  font-size: 6vw;
  color: rgb(30, 94, 15);
  font-family: monospace;
}
.card {
  width: 25%;
  margin-top: 20px;
}
.card-image-container {
  padding: 20px;
}
.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-info-container {
  padding: 20px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color: dimgrey;
}

.card:first-child {
  width: 25vw;
  height: 25vh;
}

/* Tablet viewport, the max-width 768px */

@media screen and (max-width: 768px) {
  .navcontainer {
    flex-direction: column;
  }

  .content {
    flex-direction: column;
  }
  .projects-container {
    flex-direction: row;
  }
}

/* Mobile viewport, max-width 568px */

@media screen and (max-width: 568px) {
  .navcontainer {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
  }
  .projects-container {
    flex-direction: column;
  }
}

/* If both media queries above fail then assume desktop */
